html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Libre Baskerville', serif;
}

/* Grow */
.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 3px 0px lightgray;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0px 0px 5px 0px lightgray;
}

.search-box {
  font-family: sans-serif;
}

.businessContainer {
  font-family: sans-serif;
}

.border-offset-left {
  width: 100%;
  height: 500px;
  padding: 15px;
  background-color: #81b2c7;
}

.border-offset-right {
  width: 100%;
  height: 450px;
  background-color: #81b2c7;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 10px;
}

.border-offset-all {
  width: 100%;
  height: 300px;
  background-color: #81b2c7;
  padding: 20px;
  position: absolute;
  bottom: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.2em;
  max-width: 900px;
  letter-spacing: 0.1px;
  line-height: 30px;
}

.spacing-small {
  margin: 40px 0;
}

.spacing {
  margin: 70px 0;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #5d88a6;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 99;
  box-shadow: 0px 0px 3px 0px lightgray;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-text {
  margin-right: 50px;
}

.padTop {
  padding-top: 180px;
}

.logo-pic {
  max-width: 40px;
  margin: 0 15px 0 50px;
}

.comparisons section {
  padding: 30px 0;
}

.jumbotron {
  margin-top: 66px;
  background-color: white;
}

.comparison-bar {
  height: 2.5rem !important;
}

.comparison-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comparison-icon i {
  font-size: 2em;
}

.progress-bar {
  background-color: #73bf88 !important;
}

.centered {
  text-align: center;
}

.progress {
  height: 1.5rem;
}

.bg-success {
  background-color: #779abf !important;
}

.bg-warning {
  background-color: #b877bf !important;
}

.btn:focus {
  color: black;
  text-decoration: none;
}

.btn:hover {
  color: black;
  text-decoration: none;
}

.btn-link:hover {
  color: black;
  text-decoration: none;
}

.indiviudal {
  margin: 10px 0;
}

.btn-link:focus {
  color: black;
  text-decoration: none;
}

link:focus {
  text-decoration: none;
}

.search-box .col-8 {
  padding-left: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 20px;
  border-radius: 0;
  border: 1px solid lightgray;
  background-color: white;
}

.card-header {
  padding: 30px;
}

.businessContainer .col-6 {
  padding: 0;
}

.businessContainer h2 {
  margin-bottom: 10px;
}

.image-one {
  background-image: url('./Images/claudio-schwarz-purzlbaum-0S4YWDymjkg-unsplash.jpg');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.image-two {
  background-image: url('./Images/rochelle-brown-u9m8Z8c9_T4-unsplash.jpg');
  width: 100%;
  height: 485px;
  background-size: cover;
  background-position: center;
}

.image-three {
  background-image: url('./Images/kon-karampelas-YHUB8CuYWXI-unsplash.jpg');
  width: 95%;
  height: 375px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 20px;
}

.space {
  margin: 30px 0 50px;
}

.btn-link {
  color: black;
}

.container {
  padding: 0;
}

.centered {
  text-align: center;
  max-width: 700px;
  padding: 0 50px;
  margin: auto;
}

.card {
  box-shadow: 0px 0px 3px 0px #d6d6d6;
}

.card-header {
  background-color: transparent;
}

.card-header button {
  width: 100%;
  text-align: left;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.progress-bar {
  background-color: lightblue;
}

:focus {
  outline: none;
}

.search-box input {
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 10px 20px;
  width: 100%;
}

.card-body {
  padding: 2rem !important;
}

footer {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  padding: 50px;
  background-color: #e9ecef;
  font-size: smaller;
}
footer div {
  margin-right: 2.5em;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
.datamadeby {
  margin-right: 8.5em;
}
.madeby {
  display: flex;
}
smaller {
  font-weight: bold;
}
